{% extends "auth/authenticated.html" %}

{% block navbar %}
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/classes" class="btn btn-ghost normal-case text-2xl">LessonPlanner.ai</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/classes">Classes</a></li>
      <li><a href="/lesson" class="underline decoration-2 underline-offset-8">Lessons</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </div>
</div>
{% endblock %} {% block authenticated %}

<h2 class="text-2xl font-extrabold text-center">Lesson Builder</h2>

<form action="/lesson_viewer" method="post">
  <label for="prompt">
    Enter your prompt:
    <input type="text" name="prompt" />
  </label>
  <input type="submit" value="Submit" />
</form>

{% endblock %}
