{% extends "auth/authenticated.html" %}

{% block navbar %}
<nav class="">
  <a href="/classes" class="">LessonPlanner.ai</a>
  <a href="/classes" class="">Classes</a>
  <a href="/lesson_builder">Lessons</a>
  <a href="/profile">Profile</a>
</nav>
{% endblock %} {% block authenticated %}

<h2 class="">Lesson Builder</h2>

<form action="/lesson_viewer" method="post">
  <label for="prompt">
    Enter your prompt:
    <input type="text" name="prompt" />
  </label>
  <input type="submit" value="Submit" />
</form>

{% endblock %}
