<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Lesson Planner app" />
    <link rel="stylesheet" href="/static/main.css" />
    <!-- <script src="/static/hyperscript.min.js"></script> -->
    <script src="/static/htmx.min.js"></script>
    <title>LessonPlanner.ai</title>
  </head>
  <body class="container">
    <div>{% block content %}{% endblock %}</div>
  </body>
</html>
