{% extends "base.html" %}

{% block navbar %}
<div class="navbar bg-base-100 container">
  <div class="flex-1">
    <a href="/classes" class="btn btn-ghost normal-case text-2xl">LessonPlanner.ai</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/lesson" class="underline decoration-2 underline-offset-8">Lesson Builder</a></li>
      <li><a href="/classes">Classes</a></li>
      <li><a href="/account">Account</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block main %}

<div class="container mx-auto">
  <h2 class="text-2xl font-extrabold text-center mb-4">Lesson Builder</h2>

  <div id="lesson-content" class="mx-auto max-w-lg">
    <form hx-post="/lesson_builder" hx-trigger="submit" hx-swap="innerHTML" hx-target="#lesson-content"
      class="max-w-md mx-auto">
      <input type="hidden" name="conversation_history" value="[]" />
      <div class="mb-4">
        <label for="message" class="block mb-2 text-sm">Prompt:</label>
        <input type="text" name="message" id="message" class="form-input w-full" />
      </div>
      <button type="submit" class="btn btn-primary w-full">Submit</button>

      <!-- Loading modal -->
      <div id="loading-modal" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog"
        aria-modal="true" style="display: none">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
          <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

          <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

          <div
            class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
            <div class="sm:flex sm:items-start">
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                  Building your lesson plan...
                </h3>
                <div class="mt-2">
                  <p id="tip-intro" style="display: none">While you wait, here is a helpful tip:</p>
                  <p id="tip"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>

</div>

{% endblock %}

<script>
  const tips = [
    "Tip 1: Make your lesson engaging with interactive activities.",
    "Tip 2: Break complex topics into smaller, manageable chunks.",
  ];
  function displayRandomTip() {
    const tipElement = document.getElementById("tip");
    const tipIntroElement = document.getElementById("tip-intro");
    const randomTip = tips[Math.floor(Math.random() * tips.length)];
    tipElement.innerText = randomTip;
    tipIntroElement.style.display = "block";
  }

  document
    .querySelector("form")
    .addEventListener("htmx:configRequest", function (evt) {
      console.log("configRequest");
      displayRandomTip();
      document.getElementById("loading-modal").style.display = "block";
    });

  document
    .querySelector("form")
    .addEventListener("htmx:afterOnLoad", function (evt) {
      console.log("afterOnLoad");
      document.getElementById("loading-modal").style.display = "none";
    });
</script>
