{% extends "base.html" %}

{% block navbar %}
<div class="navbar bg-base-100 container">
  <div class="flex-1">
    <a href="/classes" class="btn btn-ghost normal-case text-2xl">LessonPlanner.ai</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/lesson" class="underline decoration-2 underline-offset-8">Lesson Builder</a></li>
      <li><a href="/classes">Classes</a></li>
      <li><a href="/account">Account</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block main %}

<div class="container mx-auto max-w-lg">
  <h2 class="text-2xl font-extrabold text-center">Lesson Builder</h2>

  <div id="lesson-content" class="mx-auto max-w-lg">
    {% include "lesson_builder_inner.html" %}
  </div>
</div>

{% endblock %}
