{% extends "base.html" %}

{% block navbar %}
<div class="navbar bg-base-100 container">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-2xl">LessonPlanner.ai</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/demo">Demo</a></li>
      <li><a href="/signup" class="underline decoration-2 underline-offset-8">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
    </ul>
  </div>
</div>
{% endblock navbar %}

{% block main %}
<div class="container mx-auto">
  <h2 class="text-2xl font-extrabold text-center mb-4">Sign Up</h2>

  <main class="bg-gray-100 flex items-center justify-center py-20">
    <div class="max-w-md w-full bg-white rounded-lg overflow-hidden shadow-md p-6">
      <form hx-post="/signup" hx-trigger="submit">
        <div class="mb-6">
          <label for="first-name" class="block mb-2 text-sm text-gray-800">First Name</label>
          <input type="text" name="first_name" id="first-name" class="form-input w-full" placeholder="Enter your first name">
        </div>
        <div class="mb-6">
          <label for="last-name" class="block mb-2 text-sm text-gray-800">Last Name</label>
          <input type="text" name="last_name" id="last-name" class="form-input w-full" placeholder="Enter your last name">
        </div>
        <div class="mb-6">
          <label for="email" class="block mb-2 text-sm text-gray-800">Email</label>
          <input type="email" name="email" id="email" class="form-input w-full" placeholder="Enter your email">
        </div>
        <div class="mb-6">
          <label for="password" class="block mb-2 text-sm text-gray-800">Password</label>
          <input type="password" name="password" id="password" class="form-input w-full" placeholder="Enter your password">
        </div>
        <div class="mb-6">
          <label for="confirm-password" class="block mb-2 text-sm text-gray-800">Confirm Password</label>
          <input type="password" name="confirm_password" id="confirm-password" class="form-input w-full" placeholder="Confirm your password">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
      <p class="mt-4 text-sm text-center text-gray-600">
        Already a member? <a href="/login" class="text-blue-500">Log in!</a>
      </p>
    </div>

    <!-- Success modal -->
    <div id="success-modal" class="fixed z-20 inset-0 overflow-y-auto" aria-labelledby="success-modal-title" role="dialog" aria-modal="true" style="display: none">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

            <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
                <div class="sm:flex sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="success-modal-title">
                            Success!
                        </h3>
                        <div class="mt-2">
                            <p>
                                Signup successful! Redirecting to your profile...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </main>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const signupForm = document.querySelector("form[hx-post='/signup']");
        signupForm.addEventListener("submit", function(event) {
            const password = document.getElementById("password").value;
            const confirmPassword = document.getElementById("confirm-password").value;
            if (password !== confirmPassword) {
                event.preventDefault(); // Prevent form from submitting
                alert("Passwords do not match.");
            }
        });
    });

    document.body.addEventListener('htmx:afterOnLoad', function(event) {
        const xhr = event.detail.xhr;
        if (xhr.getResponseHeader('Content-Type').includes('application/json')) {
            const response = JSON.parse(xhr.responseText);
            if (response.redirect) {
                const successModal = document.getElementById("success-modal");
                if (successModal) {
                    successModal.style.display = "block";
                }

                setTimeout(function() {
                    window.location.href = response.redirect;
                    if (successModal) {
                        successModal.style.display = "none";
                    }
                }, 2000); 
            }
    }
});


</script>

{% endblock main %}
