{% extends "base.html" %}

{% block content %}

{% block navbar %}
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/classes" class="btn btn-ghost normal-case text-2xl">LessonPlanner.AI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/classes" class="underline decoration-2 underline-offset-8">Classes</a></li>
      <li><a>Lessons</a></li>
      <li><a>Profiles</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block authenticated %}{% endblock %}

{% endblock %}
