{% extends "auth/public.html" %}

{% block navbar %}
<nav>
  <a href="/">LessonPlanner.ai</a>
  <a href="/demo">Demo</a>
  <a href="/signup">Sign up</a>
  <a href="/login">Log in</a>
</nav>
{% endblock %}

{% block public %}
<h2>Log In</h2>
<div>
  <div>
    <label>
      <span>Email</span>
      <input type="email" id="email" values="">
    </label>
  </div>
  <div>
    <label>
      <span>Password</span>
      <input type="password" id="password" values="">
    </label>
  </div>
  <div>
    <button>Log In</button>
  </div>
  <a href="/signup">New to LessonPlanner.ai? Create an account!</a>
</div>
{% endblock %}
