{% extends "auth/public.html" %}

{% block navbar %}
<nav class="">
  <a href="/" class="">LessonPlanner.ai</a>
  <a href="/demo">Demo</a>
  <a href="/signup">Sign up</a>
  <a href="/login">Log in</a>
</nav>
{% endblock %}

{% block public %}
<h2 class="">Log In</h2>
<div class="">
  <div class="">
    <label class="">
      <span class="">Email</span>
      <input type="email" id="email" values="">
    </label>
  </div>
  <div class="">
    <label class="">
      <span class="">Password</span>
      <input type="password" id="email" values="">
    </label>
  </div>
  <div>
    <button class="">Log In</button>
  </div>
  <a href="/signup">New to LessonPlanner.ai? Create an account!</a>
</div>
{% endblock %}
