{% extends "auth/public.html" %}

{% block navbar %}
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-2xl">LessonPlanner.ai</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/demo">Demo</a></li>
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login" class="underline decoration-2 underline-offset-8">Log in</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block public %}
<h2 class="text-2xl font-extrabold text-center">Log In</h2>
<div>
  <div>
    <label>
      <span>Email</span>
      <input type="email" id="email" values="">
    </label>
  </div>
  <div>
    <label>
      <span>Password</span>
      <input type="password" id="password" values="">
    </label>
  </div>
  <div>
    <button>Log In</button>
  </div>
  <a href="/signup">New to LessonPlanner.ai? Create an account!</a>
</div>
{% endblock %}
