{% extends "base.html" %}

{% block content %}

{% block navbar %}
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/"
      class="btn btn-ghost normal-case text-2xl underline decoration-2 underline-offset-8">LessonPlanner.AI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/demo">Demo</a></li>
      <li><a href="/sign-up">Sign up</a></li>
      <li><a href="/log-in">Log in</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block public %}{% endblock %}

{% endblock %}
